<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Rviz Color Properties -->
  <xacro:include filename="$(find scout_description)/urdf/includes/materials/materials.xacro" />  
  <!-- Rviz Color Properties -->  

  <!-- Intel Realsense Macro -->
  <xacro:include filename="$(find scout_description)/urdf/includes/parts/sensors/realsense/_d435.urdf.xacro" />    
  <!-- Intel Realsense Macro -->

</robot>
